{% extends 'cal/base.html' %}

{% block content %}

<a class="btn btn-info right"  href="{% url 'signup'%}" >SignUp</a>
<a class="btn btn-info right"  href="{% url 'cal:calendar'%}" >Calendar</a>


<div class="jumbotron">
  <h1>Please log in:</h1>

  {% if form.errors %}

  <p>Your username and password didn't match</p>

  {% endif %}

<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" class='btn btn-info' value="Login">
  <input type="hidden" class='btn btn-info' value="{{next}}">
</form>

<p><a href="{% url "password_reset" %}">Forgotten your password?</a></
   p>

{% endblock %}
